<%= form_with(model: coin) do |form| %>
  <% if coin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block", for: "formGroupExampleInput", class: "form-label" %>
    <%= form.text_field :description, class: "form-control", id: "formGroupExampleInput" %>
  </div>

  <div>
    <%= form.label :acronym, style: "display: block", for: "formGroupExampleInput", class: "form-label"  %>
    <%= form.text_field :acronym, class: "form-control", id: "formGroupExampleInput" %>
  </div>

  <div>
    <%= form.label :url_image, style: "display: block", for: "formGroupExampleInput", class: "form-label" %>
    <%= form.text_field :url_image, class: "form-control", id: "formGroupExampleInput" %>
  </div>

  <div>
    <%= form.label :mining_type_id, style: "display: block", for: "formGroupExampleInput", class: "form-label" %>
    <%= form.select("mining_type_id", @mining_type_options, {include_blank: t('links.select')}, class: "form-select") %>
  </div>

  <div class="d-flex flex-column align-items-center">
    <%= form.submit nil, class:"btn btn-form" %>
  </div>
<% end %>
