<div class= "card-form-table mt-5 rounded-3 d-flex flex-column align-items-center">
  <p style="color: green"><%= notice %></p>

  <%= render @coin %>

  <%= link_to t('editing.coin'), edit_coin_path(@coin), class:"btn btn-form" %>
  <%= link_to t('links.back'), coins_path, class:"btn btn-form" %>

  <%= button_to t('links.delete'), @coin, method: :delete, class:"btn btn-form" %>
</div>
